invoke>=2.2.0           # Task execution and automation library
yapf>=0.43.0            # Python code formatter
colorama>=0.0.4         # Cross-platform colored terminal text
pandas>=2.0.3           # Data manipulation and analysis library
conan>=2.22.0           # C/C++ package manager
cmake>=3.0.0            # C/C++ configuration support tool
ninja>=1.13.0           # C/C++ build support tool
clang-format>=21        # C/C++ code formatter
